@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
  h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
  }
}

.small-text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

.navigation_hover {
  @apply py-4 cursor-pointer hover:scale-[1.1] transition hover:text-Yellow-500
}

.isActive {
  @apply text-Yellow-500
}

.decorationLine {
  @apply before:block before:absolute before:-inset-1 before:border-t-[6px] before:top-[-11px] before:w-[150px] before:border-Green-700 relative inline-block
}